body {
  background-color: #1C1C1C;
  color: #E0E0E0;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: #2A2A2A !important;
}

.container {
  margin-top: 20px;
}

/* Cards */
.card {
  background-color: #2A2A2A;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  margin-bottom: 20px;
}

/* Títulos dos cards */
.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #D50032;
}

/* Estilização do relógio
#relogio {
    color: #007bff; /* Cor do texto azul */
    font-size: 1.2rem; /* Tamanho da fonte maior */
    font-weight: bold; /* Deixa o texto em negrito */
    margin-left: 10px; /* Adiciona um espaço à esquerda do relógio */
    background-color: #f0f0f0; /* Fundo cinza claro */
    padding: 5px 8px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
}

/* Inputs e botões */
.btn-primary {
  background-color: #D50032;
  border: none;
  border-radius: 20px;
  padding: 8px 18px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #FF1744;
}

/* Listas */
.list-group-item {
  background-color: #3A3A3A;
  color: #E0E0E0;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.list-group-item .horario {
  color: #B0B0B0;
  font-size: 0.875rem;
}

.list-group-item .btn-excluir {
  background-color: #FF1744;
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
  color: #FFFFFF;
}

.list-group-item .btn-excluir:hover {
  background-color: #D50032;
}

/* Mensagens de erro */
#errorBox {
  color: #FF1744;
  font-weight: bold;
  margin-top: 10px;
}

/* Responsividade listas */
@media (max-width: 768px) {
  .col-md-6 {
    margin-bottom: 15px;
  }
}
