body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item span {
    flex-grow: 1;
}

.list-group-item .horario {
    font-size: 0.8em;
    color: #6c757d;
    margin-right: 10px;
}

.riscado {
  text-decoration: line-through;
  color: #6c757d;
}
